<!DOCTYPE html>
<html lang="en">
  
<head>
    <!--  Title -->
    <title>Mordenize</title>
    <!--  Required Meta Tag -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="handheldfriendly" content="true" />
    <meta name="MobileOptimized" content="width" />
    <meta name="description" content="Mordenize" />
    <meta name="author" content="" />
    <meta name="keywords" content="Mordenize" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--  Favicon -->
    <link rel="shortcut icon" type="image/png" href="/images/logos/favicon.png" />
    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="/libs/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/libs/prismjs/themes/prism.min.css">
    <!-- Core Css -->
    <link  id="themeColors"  rel="stylesheet" href="/css/style.min.css" />
    <link rel="stylesheet" href="../../dist/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css">

    <style>
        .bg-info-subtle{
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            height: 39px !important;
        }

    </style>
  </head>
  <body>
    <!-- Preloader -->
    <div class="preloader">
      <img src="/images/logos/favicon.png" alt="loader" class="lds-ripple img-fluid" />
    </div>
    <!-- Preloader -->
    <div class="preloader">
      <img src="/images/logos/favicon.png" alt="loader" class="lds-ripple img-fluid" />
    </div>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-theme="blue_theme"  data-layout="vertical" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
      
      
      <%- include('./ui/sidenav') %>
      
      
      <!--  Main wrapper -->
      <div class="body-wrapper">
        
        <%- include('./ui/header') %>
        <div class="container-fluid">
          <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex justify-content-center">
            <div class="d-flex justify-content-center w-100">
              <div class="row justify-content-center w-100 mt-6">
                
                <div class="col-12">
                    <!-- ---------------------
                            start Zero Configuration
                        ---------------- -->
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-2">
                                <h5 class="mb-0">Daily Ledger</h5>
                            </div>
                            
                            <div class="table-responsive" style="overflow-x: auto;">
                                <table id="zero_config"  style="width:100%; overflow-x: scroll;"
                                    class="table border  table-bordered text-nowrap">
                                    <thead>
                                        <!-- start row -->
                                        <tr>
                                          <th>Date</th>
                                            <th>Student Id</th>
                                            <th>Name</th>
                                            <th>Phone</th>
                                            <th>Current Plan</th>
                                            <th>Current Thali</th>
                                            <th>RFID</th>
                                            <th>Balance</th>
                                            <th>Total Meals</th>
                                        </tr>
                                        <!-- end row -->
                                    </thead>
                                    <tbody>
                                        <!-- start row -->
                                       
                                        <!-- start row -->
                                         <% students.forEach(student => { %>
                                            <tr>
                                                <%
  let yy = '', mm = '', dd = '';
  if (student.currentPlan && student.currentPlan.startDate) {
    const date = new Date(student.currentPlan.startDate);
    yy = String(date.getFullYear()).slice(-2);
    mm = String(date.getMonth() + 1).padStart(2, '0');
    dd = String(date.getDate()).padStart(2, '0');
  }
%>
                                                <td><%= student.currentPlan && student.currentPlan.startDate ? `${yy}/${mm}/${dd}` : 'N/A' %></td>
                                                <td><%= student.studentId %></td>
                                                <td><%= student.name %></td>
                                                <td><%= student.phone %></td>
                                                <td><%= student.currentPlan && student.currentPlan.planName ? student.currentPlan.planName : 'No Plan'%></td>
<td><%= student.currentPlan && student.currentPlan.thaliType ? student.currentPlan.thaliType : "Null" %></td>
                                                <td><%= student.rfidCard %></td>
                                                <td><%= student.cashBalance %></td>
                                           <td><%= student.currentPlan && student.currentPlan.mealUsage ? student.currentPlan.mealUsage.length : 0 %></td>
                                                
                                                
                                                                                                
                                            </tr>
                                         <% }) %>
                                       
                                        <!-- end row -->
                                    </tbody>
                                    <tfoot>
                                        <!-- start row -->
                                        <tr>
                                          <th>Date</th>
                                            <th>Student Id</th>
                                            <th>Name</th>
                                            <th>Phone</th>
                                            <th>Current Plan</th>
                                            <th>Current Thali</th>
                                            <th>RFID</th>
                                            <th>Balance</th>
                                            <th>Total Meals</th>
                                        <!-- end row -->
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- ---------------------
                            end Zero Configuration
                        ---------------- -->
                </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>
    

   
<%- include('./ui/footer') %>